.content{
     margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 350px) and (max-width: 768px){
    .content{
      width: 100%;
      justify-content: flex-start;
      margin: 0;
    }
}