.header{
    width: 100%;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 34px ;
}

.header__logo{
    width: 254px;
    height: 70px;
}


@media screen and (max-width: 768px ) {
    .header__logo{
        width: 188px;
        height: 52px;
    }
}
