.hero {
    min-width: 320px;
    margin-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero__headline {
    max-width: 720px;

    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;

    margin-bottom: 32px;
}

.hero__sub-headline {
    width: 700px;

    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

    margin-bottom: 64px;
}

.hero__image {
    max-width: 984px;
    width: 100%;
    margin: 0 auto 92px;

}

@media screen and (min-width: 472px) and (max-width: 1100px){

}

@media screen and (min-width: 472px) and (max-width: 999px) {
    .hero__headline {
        max-width: 530px;

        font-size: 70px;
        line-height: 79px;

        margin-bottom: 25px;
    }

    .hero__sub-headline {
        max-width: 530px;

        font-size: 30px;
        line-height: 36px;

        margin-bottom: 40px

    }

}


@media screen and (max-width: 471px) {

    .hero{
        margin-top: 50px;
    }


    .hero__headline {
        max-width: 228px;

        font-size: 40px;
        line-height: 44px;

        margin-bottom: 16px;
    }

    .hero__sub-headline {
        max-width: 288px;

        font-size: 16px;
        line-height: 20px;

        margin-bottom: 40px

    }

    .hero__image{
        margin-bottom: 64px;
    }

}



