.info{
max-width: 830px;
width: 100%;

margin-left: 148px;
margin-right: 302px;
margin-bottom: 94px;
}

.info__title{
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;

    text-align: start;
}

.info__container{
    display: flex;
    flex-direction: column;

    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.info__container_quote{
    text-align: end;
}

.info__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
}

/* @media screen and (min-width: 472px) and (max-width: 1100px){
    .info{
        margin: 16px;
    }
} */


@media screen and (min-width: 472px) and (max-width: 999px) {
    .info{
        max-width: 720px;

        margin-left: 24px;
        margin-right: 24px;
        margin-top: 0;
        margin-bottom: 64px;
    }

}

@media screen and (max-width: 471px) {

    .info{
        max-width: 288px;

        margin-left: 16px;
        margin-right: 16px;
        margin-top: 0;
        margin-bottom: 64px;
    }

    .info__title{
        font-size: 32px;
        line-height: 35px;
    }

    .info__container{
        font-size: 24px;
        line-height: 30px;
    }

    .info__container_quote{
        font-size: 24px;
        line-height: 30px;
    }

    .info__text{
        font-size: 16px;
        line-height: 163%;
    }

}