.locations{
    /* width: 100%; */
    display: flex;
    flex-direction: column;

    margin-inline: 148px;
}



@media screen and (min-width: 768px) and (max-width: 1025px){
  .locations{
    width: auto;
    max-width: 100%;

    margin-left: 16px;
    margin-right: 16px;
  };

}

@media screen and (min-width: 350px) and (max-width: 768px){
  .locations{
    width: auto;
    max-width: 100%;

    margin-left: 16px;
    margin-right: 16px;
  };
}