.location-grid{
    width: 100%;
    max-width: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 40px;

    grid-template-areas:
    "title location-grid__container-artists"
    "image information"
    "button information"
    ;

    margin-bottom: 80px;
}

/* .location-grid__media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
} */

.location-grid__title{
    max-width: 460px;

    font-size: 72px;
    font-weight: 900;
    line-height: 76px;

    margin: 0;

    grid-area: title;
}

.location-grid__image{
    max-width: 460px;
    height: 460px;
    box-shadow: 10px 10px 25px #000000;

    grid-area: image;
}

.location-grid__button{
    background-image: linear-gradient(90deg, #0278FE 0%, #003A7B 100%);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);

    max-width: 355px;
    max-height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    line-height: 100%;

    padding-inline: 20px;
    padding-block: 13px;

    grid-area: button;
    
}

.location-grid__description{
    width: 484px;

    grid-area: information;
}

.location-grid__container{
    margin: 0 0 48px 0;
}

.location-grid__tag{
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 100%;
    text-transform: uppercase;
}

.location-grid__artist{
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.location-grid__text{
    margin: 25px 0 0 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.63;

}