.location-grid{
    width: 100%;
    max-width: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 40px;

    grid-template-areas:
    "title location-grid__container-artists"
    "location-grid__wrapper information"
    "location-grid__wrapper information"
    ;

    margin-bottom: 80px;
}

.location-grid__title{
    max-width: 460px;

    font-size: 72px;
    font-weight: 900;
    line-height: 76px;

    margin: 0;

    grid-area: title;
}

.location-grid__wrapper{
  width: 100%;
  grid-area: location-grid__wrapper;
}

.location-grid__image{
    max-width: 460px;
    height: 460px;
    box-shadow: 10px 10px 25px #000000;

    grid-area: image;
}

.location-grid__image:hover{
  opacity: 0.6;

}

.location-grid__button{
    background-image: linear-gradient(90deg, #0278FE 0%, #003A7B 100%);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);

    max-width: 355px;
    max-height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    line-height: 100%;

    padding-inline: 20px;
    padding-block: 13px;

    margin-top: 48px;

    grid-area: button;
    align-self: start;

    cursor: pointer;

}

.location-grid__button:hover{
  background-image: linear-gradient(90deg, #0278FE 0%, #003A7B 100%);
  opacity: 0.7;

}

.location-grid__description{
    width: 484px;

    grid-area: information;
}

.location-grid__container-artists{
    align-self: end;
}

.location-grid__tag{
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 100%;
    text-transform: uppercase;
}

.location-grid__artist{
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.location-grid__text{
    margin: 0 0 25px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.63;

}

@media screen and (min-width: 768px) and (max-width: 999px) {

  .location-grid{
    width: auto;
    max-width: 100%;
  }


  .location-grid__title{
    font-size: 42px;
    line-height: 46px;

  }

  .location-grid__image {
    width: 100%;
    max-width: 100%;
    height: auto;

    box-shadow: none;
}

.location-grid__description{
  width: 100%;
  max-width: 100%;
}

  .location-grid__text{
    font-size: 16px;
  }

  .location-grid__button {
    width: 355px;


    box-sizing: border-box;
  }


}

@media screen and (min-width: 350px) and (max-width: 767px){

  .location-grid{
    width: auto;
    grid-template-columns: 1fr;

    grid-template-areas:
    "title"
    "location-grid__container-artists"
    "image"
    "information"
    "button"
    ;
  }

  .location-grid__wrapper{
    display: contents;
  }

  .location-grid__title{
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;

  }

  .location-grid__description{
    width: 100%;
    max-width: 100%;
  }

  .location-grid__text{
    font-size: 16px;
  }

  .location-grid__image {
    width: 100%;
    max-width: 100%;
    height: auto;

    box-shadow: none;
}

.location-grid__button {
  width: 100%;
  max-width: 100%;

  margin-top: 0;
  box-sizing: border-box;
}

}