main{
     margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}


@media screen and (min-width: 472px) and (max-width: 1100px) {

main{
    width: 100%;
    justify-content: flex-start;
    margin: 0;
}
    
}

@media screen and (max-width: 471px){
    main{
        margin: 0;
    }
}