.page{
    
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;

  overflow: hidden;
} 