.photo-grid{
    max-width: 1184px;
    /* width: 100%; */

    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;

    display: grid;
    gap: 16px;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);

    }

.photo-grid__images{
    width: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (min-width: 350px) and (max-width: 768px){
    .photo-grid{
        grid-template-columns: 1fr;
        gap: 12px;

        margin-left: 16px;
        margin-right: 16px;
    }

    .photo-grid__images{
      width: 100%;
      max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px){
    .photo-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        margin-left: 24px;
        margin-right: 24px;
    }
}